#body-class {
    background-color: lime;
    padding-top: 50px;
    display: flex;
}

.open-form-button {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px 20px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    cursor: pointer;
}


.form-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -125px; 
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    
}

.close-icon {
    margin: 0;
}

.text-input {
    margin-bottom: 25px;
}

/* BOOKMARK */

.bookmark {
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px 20px;
}

.bookmark-title {
    margin: 0;
}

.site-link {
    text-decoration: none;
}
