#body-class {
    background-color: lime;
}

.bookmark {
    padding: 25px;
    background-color: aqua;
    border: 2px solid black;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: antiquewhite;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -125px; 
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    
}

.close-icon {
    margin: 0;
}

.text-input {
    margin-bottom: 25px;
}